<link rel="stylesheet" href="styles/alumnis.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/scripts/alumnis.js" type="text/javascript"></script>
<script src="/socket.io/socket.io.js"></script>
<div id="alumnisList" class="row col-10 offset-1 border border-info rounded-bottom">
        <div id="alumnisHeadline" class="row justify-content-center" dir="rtl">
                <div class="alumniContent col-2 border border-secondary">תמונה</div>
                <div class="alumniContent col-2 border border-secondary">שם פרטי</div>
                <div class="alumniContent col-2 border border-secondary">שם משפחה</div>
                <div class="alumniContent col-2 border border-secondary">תחומי דעת</div>
                <div class="alumniContent col-2 border border-secondary">צור קשר</div>
        </div>
        <div id="alumnis" dir="rtl"></div>
</div>