#alumnisList{
    display: block;
    height:100%;
  }
  .searchInput{
    height:50%;
  }
  #alumnisHeadline{
    margin-top:2%;
  }
  .alumniImg{
    width: 75%;
    /* height: 100%; */
  }
  .alumniBtn{
    width: 100%;
    font-size: 100%;
  }