.subjects {
  margin-right: 5%;
}

body {
  height: 100%;
  font-size: 1vw;
}

#headline {
  height: 10%;
}

#searchbar {
  height: 20%;
  overflow:hidden;
}
#searchForm{
margin-top:2%;
margin-bottom:2%;
}
